body {
  margin: 0;
  display: flex;
  height: 100vh;
}
.navbar-container {
  background-color: rgb(113, 183, 241);
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-container2 {
  background-color: rgb(113, 183, 241);
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.navbar-items {
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  width: 80px;
  color: rgb(0, 0, 0);
}
a.active {
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.form-container {
  display: flex;
  justify-content: center;
}
.register-form {
  display: flex;
  flex-direction: column;
}
input {
  width: 240px;
  height: 25px;
  margin: 5px;
}
button {
  height: 45px;
  width: 120px;
  background-color: dodgerblue;
  color: white;
  font-weight: 700;
  border: solid 0px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(56, 165, 255);
}

.main-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 45px 60px 0px 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 250px;
  transition: 300ms;
}
.product-card-container:hover {
  box-shadow: 5px 5px 20px 5px rgb(141, 141, 141);
  z-index: 1;
}
.cart {
  display: grid;
  grid-template-columns: 20% auto;
  height: 91.8vh;
}
.grid-item-1 {
  margin: 45px 0px 0px 45px;
  padding-top: 25px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px 5px rgb(141, 141, 141);
}
li {
  list-style: none;
  margin: 10px;
  font-weight: 500;
}

.category-select{
width: 300px;
height: 30px;
margin-top: 20px;
font-size: large;
}
.category-container{
  display: flex;
  justify-content: center;
  align-items: center;
}